/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  font-size: 13pt;
  height: 100%;
  background-color: black;
  color: white;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}

.inverse-dropdown {
  background-color: #222;
  border-color: #080808;
}

.inverse-dropdown .dropdown-menu {
  background-color: #222;
  border-color: #080808;
}
.inverse-dropdown li a{
    color: #999;
}
.inverse-dropdown li a:hover{
    color: #fff;
    background-color: #000;
}
.inverse-dropdown .divider {
    background-color: #000;
}

#footer {
  /* background-color: black; */
  padding: 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding-top: 60px;
}
.container .credit {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.clear-fix {
    clear: both;
}

.narrower {
    width: 50%;
    margin: auto;
}

.subheader, #content #toctitle, .admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .videoblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title, .tableblock > caption {
    color: white;
}

a {
	color: lightblue;
}
